streamlit==1.40.2
numpy==1.26.4
tensorflow==2.10.1
matplotlib==3.9.2
gdown==5.2.0
requests==2.32.3
plotly==5.24.1
networkx==3.2.1
librosa==0.10.2.post1
soundfile==0.12.1
scikit-learn==1.5.2
seaborn==0.13.2
